/* Impostazioni generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variabili colori */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}

