/********************* 
Impostazioni generali
 *********************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/******************
 Variabili colori
******************/
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
    --color-grey: #686A70;
}

/* Debug */
.debug {
    border: 1px solid green;
}

/*****
Font 
*****/
body {
    font-family: "Montserrat", serif;
}

/******************
Impostazioni testo
******************/
.txt-uppercase {
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
/****
Flex
****/
.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

/******
Colori
******/
.txt-white {
    color: var(--color-light);
}

.txt-grey {
    color: var(--color-grey);
}

.txt-l-grey {
    color: var(--color-lightgrey);
}

/*******
Sezioni
*******/
.wrapper {
    height: 100vh;
}

.upper-content {
    background-color: var(--color-dark);
    flex: 1 1 auto;
    min-height: 0;
}

.margin-section {
    margin-top: 30px;
}
.margin-left {
    margin-left: 20px;
}
/******
Header
******/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.501);
    z-index: 90;
    justify-content: flex-end;
    height: 70px;
}

header a {
    border: 1px solid var(--color-grey);
    padding: 10px 40px;
    border-radius: 20px;
    margin-right: 40px;
    font-size: 1em;
    transition: all 0.5s;
}

header a:hover {
    border: 1px solid var(--color-lightgrey);
    transform: scale(1.1);
    color: var(--color-lightgrey);
}

/*****
 Main
*****/
main {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0px 20px;
    padding-top: 90px;
    padding-bottom: 30px;
}

/****************
Sezione Nav main
****************/
#nav ul {
    gap: 12px;
}

#nav a {    
    transition: all 0.5s;
}

#nav a:hover {
    color: var(--color-lightgrey);
}

#nav a::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin: 0 auto;
    transition: all 0.5s;
}

#nav a:hover::after {
    background-color: var(--color-highlight);
}

/***********************
Sezione recently played
***********************/
#rec-played h2 {
    padding-bottom: 30px;
}

.row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-right: 15px;
}

.col {
    width: calc((100% - 75px) / 6);
}

.col img {
    width: 100%;
    display: block;
}

.text {
    line-height: 1;
    padding-top: 18px;
    text-align: center;
}

.text h4 {
    padding-bottom: 10px;
}

/******************************
Sezione creazioni per John Doe
******************************/
#create-john-doe h2,
#artist h2 {
    padding-bottom: 10px;
}

#create-john-doe h5,
#artist h5 {
    padding-bottom: 30px;
    font-size: 0.7em;
}

/************************
Sezione artisti popolari
************************/
#artist img {
    border-radius: 50%;
}

/*******
Sidebar 
*******/
#sidebar {
    flex: 0 0 17%;
    background-color: var(--color-black);
    z-index: 100;
    position: relative;
}

.logo {
    width: 150px;
    margin-top: 20px;
}

#menu ul {
    margin: 20px;
    line-height: 2.5;
}

#menu ul img {
    width: 20px;
    margin-right: 10px;
}

#menu a {
    opacity: 0.5;
    position: relative;
    transition: all 0.5s;
}

#menu a:hover {
    opacity: 1;
}

#menu a::before {
    content: '';
    display: block;
    width: 3px;
    height: 30px;
    margin: 0 auto;
    transition: all 0.5s;
    position: absolute;
    left: -20px;
    top: 0;
}

#menu a:hover::before {
    background-color: var(--color-highlight);
}

#playlist ul {
    line-height: 2.5;
    margin-top: 10px;
}

#playlist .icon {
    margin-right: 10px;
    background-color: var(--color-lightgrey);
    color: var(--color-black);
    padding: 7px;
} 

#download i {
    margin-right: 10px;
}
#download {
    margin-bottom: 10px;
}
#utente {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.9em;
    margin-bottom: 10px;
}
#utente hr {
    width: 85%;
    margin: 0 auto;
}
#profile img {
    width: 20px;
    background-color: var(--color-grey);
    border-radius: 50%;
    margin-right: 10px;
}
#profile {
    margin-top: 10px;
}
/*******
Footer 
*******/
footer {
    background-color: var(--color-darkgrey);
    flex: 0 0 80px;
}